<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                동파육 하다가 화상 입음 ㅠㅠ
            </p>
            <p class="paragraph-text justify-text">
                Find me (<a href="https://scholar.google.com/citations?user=ktRE5vQAAAAJ&hl=ko&oi=ao">HioBeen Han</a>) in Google Scholars!
            </p>
            <p class="paragraph-text justify-text">
                test1 <a href="{{ site.blog_url }}">nagekar.com</a> test2 <a href="https://github.com/{{ site.github_username }}">GitHub</a>. test3 <span class="extra-link"><a href="#extra">bottom</a></span>abcd.
            </p>
        </div>
    </section>
</div>
