<div class="section-wrapper">
    <section class="section about" id="Publications">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">

                * corresponding author, ⁺ equally contributed<br>
                
                Han H.-B., Kim J., & Choi J.H.* (In prep). Freeze-or-Flight? Neural rhythms in mPFC-Basolateral Amygdala Predict the Selection of Dimorphic Defensive Behaviors<br><br>

                Kim B., Han H.-B.⁺, Kim Y., & Choi J.H.* (In review). Nine-day Continuous Recording of EEG and 2-hour of HD-EEG under Chronic Sleep Restriction in Mice<br>

                Kim J., Kim C., Han H.-B., Cho C.J., Yeom W., Lee S.Q., Kim J.Y.⁺*, & Choi J.H.⁺* (2020). A Bird’s Eye View of Brain Activity in Socially Interacting Mice through Mobile Edge Computing, Science Advances, https://doi.org/10.1101/2020.02.03.931758<br>

                Hwang E.⁺, Han H.-B.⁺, Kim J.Y.⁺, & Choi J.H.* (2020). High-density EEG of Auditory Steady-State Response during Stimulation of Basal Forebrain Parvalbumin Neurons. Scientific Data, 7(1), 1-9, https://doi.org/10.1038/s41597-020-00621-z<br>

                Han H.-B.* (2020). Rotational snapping: Illusory rhythmicity induced by global and local motion binding, bioRxiv, https://doi.org/10.1101/2020.02.03.931758<br>

                Han H.-B.⁺, Lee K.E.⁺, & Choi J.H.* (2019). Functionally dissociated theta oscillations in the frontal and visual cortices and their long-range network during sustained attention, eNeuro, 6(6), 4 November 2019, ENEURO.0248-19.2019; DOI: https://doi.org/10.1523/ENEURO.0248-19.2019<br>

                Kum J., Kim J.W., Braubach O., Ha J.-G., Cho H., Kim C.-H., Han H.-B., Choi J.H.*, & Yoon J.-H.* (2019). Neural Dynamics of Olfactory Perception: Low- and High-frequency Modulations of Local Field Potential Spectra in Mice Revealed by an Oddball Stimuli. Frontiers in Neuroscience.<br>

                Hwang E., Brown R. E., Kocsis B., Kim T., McKenna J. T., McNally J. M., Han H.-B., & Choi J. H. (2019). Optogenetic stimulation of basal forebrain parvalbumin neurons modulates the cortical topography of auditory steady-state responses. Brain Structure and Function, 1-14.<br>

                Han H.-B., Hwang E., Lee S., Kim M.-S., & Choi J.H.* (2017). Gamma-Band Activities in Mouse Frontal and Visual Cortex Induced by Coherent Dot Motion, Scientific Reports, 7, 43780.<br>

                Han H.-B.* (2016). Distinctive BOLD Connectivity Patterns in the Schizophrenia Brain: Machine-learning based comparison between various connectivity measures, bioRxiv, 084160.<br>

                Kum, J.E., Han, H.-B., & Choi, J.H.* (2016). Pupil Size in Relation to Cortical States during Isoflurane Anesthesia. Experimental Neurobiology, 25(2), 86-92.<br>
            </p>
            <p class="paragraph-text justify-text">
                Find me (<a href="https://scholar.google.com/citations?user=ktRE5vQAAAAJ&hl=ko&oi=ao">HioBeen Han</a>) in Google Scholars!
            </p>
            <p class="paragraph-text justify-text">
                test1 <a href="{{ site.blog_url }}">nagekar.com</a> test2 <a href="https://github.com/{{ site.github_username }}">GitHub</a>. test3 <span class="extra-link"><a href="#extra">bottom</a></span>abcd.
            </p>
        </div>
    </section>
</div>
